/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.padding_left_right {
  padding-left: 2.18rem;
  padding-right: 2.18rem;
}

/*
- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
*/
.logo {
  height: 1.6rem;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.hero {
  text-align: center;
  margin-bottom: 4.18rem;
}

.content {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.content__title1 {
  font-size: 2.25rem;
  color: #ce9797;
  letter-spacing: 1rem;
}

.content__title2 {
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: 1.05rem;
}

.content__desc {
  padding-top: 2.5rem;
  color: #ce9797;
  line-height: 1.25rem;
  margin-bottom: 2.6rem;
}

.content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
  height: 3rem;
  border-radius: 1.8rem;
  border: solid 1px #ce9797;
}

.content__form__input {
  border: none;
  margin-left: 1.4rem;
}

.content__form__input::-webkit-input-placeholder {
  color: #ce9797;
  font-size: 0.9rem;
}

.content__form__input:-ms-input-placeholder {
  color: #ce9797;
  font-size: 0.9rem;
}

.content__form__input::-ms-input-placeholder {
  color: #ce9797;
  font-size: 0.9rem;
}

.content__form__input::placeholder {
  color: #ce9797;
  font-size: 0.9rem;
}

.content__form__button {
  text-align: right;
  border: none;
  margin-right: 0rem;
  background-color: #ce9797;
  font-size: 2.5rem;
  color: white;
  border-radius: 30px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media only screen and (min-width: 600px) {
  .container {
    display: -ms-grid;
    display: grid;
    max-width: 1440px;
        grid-template-areas: "logo hero" "content hero ";
    -ms-grid-rows: 14.8rem 1fr;
        grid-template-rows: 14.8rem 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-left: 5.9rem;
    padding-right: 13rem;
  }
  .container .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  .container .hero {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: hero;
  }
  .container .content {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: content;
  }
}

/*Media Query End*/
@media only screen and (min-width: 600px) {
  .logo {
    height: 2.18rem;
    padding-top: 4.0rem;
  }
}

@media only screen and (min-width: 600px) {
  .content {
    text-align: left;
  }
  .content__title1 {
    font-size: 3.5rem;
    letter-spacing: 1.8rem;
  }
  .content__title2 {
    font-size: 3.5rem;
    letter-spacing: 1.8rem;
  }
}
/*# sourceMappingURL=root.css.map */