@media only screen and (min-width: 600px) {

    .content{
        max-width: 52rem;
        text-align: left;
        &__title1{
            font-size: 3.5rem ;
            letter-spacing: 1.8rem;
        }

        &__title2{
            font-size: 3.5rem ;
            letter-spacing: 1.8rem;
        }
    }


}