@media only screen and (min-width: 600px) {
    .container{
        display: grid;
        max-width: 1440px;
        grid-template-areas: "logo hero"
                             "content hero ";
        grid-template-rows: 14.8rem 1fr;
        grid-template-columns: 1fr 1fr;
        padding-left: 5.9rem;
        grid-gap:10px;

        .logo{
            grid-area: logo;
        }

        .hero{
            grid-area: hero;
        }

        .content{
            grid-area: content; 
        }
    }
}/*Media Query End*/