@media only screen and (min-width: 600px) {

    .container{
        max-width: 1140px;
        display: grid;
        grid-template-areas: "logo hero"
                             "content hero ";
        grid-template-rows: 14.8rem 1fr;
        grid-template-columns: 1fr 1fr;
        padding-left: 5.9rem;
        grid-gap:50px;
    


        .logo{
            grid-area: logo;
        }

        .hero{
            grid-area: hero; 
        }

        .content{
            grid-area: content; 
        }
    }
}/*Media Query End*/